<InputFile id=upload class=d-none OnChange=UploadFiles multiple />
@if (_cts != null)
{
    var percentage = _transferedBytes / _totalBytes * 100d;
    <div class="progress mt-2">
    <div class="progress-bar" style="width: @percentage%;">@percentage.ToString("0")%</div>
</div>
}
else if (Selected?.Any() ?? false)
{
    <div class="list-group sticky-top">
    <button class="list-group-item list-group-item-action pointer p-0 d-flex" @onclick=Download>
        <i class="bi bi-file-earmark-zip p-2 text-primary"></i>
        <div class="py-2">Download</div>
    </button>
    <button @onclick=DeselectAll
        class="list-group-item list-group-item-action pointer p-0 d-flex justify-content-between align-items-center">
        <i class="bi bi-check-all p-2"></i>
        <div class="py-2 flex-grow-1">Deselect</div>
        <div class="p-2"><span class="badge bg-primary rounded-pill">@Selected.Count</span></div>
    </button>
    @if (CanWrite)
        {
            <button class="list-group-item list-group-item-action pointer p-0 d-flex" @ondblclick=DeleteSelected
        title="Double click to delete">
                <i class="bi bi-trash3 p-2 text-danger"></i>
                <div class="py-2">Delete</div>
            </button>
        }
    </div>
}
else
{
    <div class="list-group sticky-top">
    <form class="list-group-item p-2" @onsubmit=UpdateQueryString>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Search" @bind=_search>
            <button class="btn btn-outline-primary" type="submit">
                <i class="bi bi-search"></i>
            </button>
            @if (!string.IsNullOrWhiteSpace(_search))
                {
                    <button class="btn btn-outline-danger" type="reset" @onclick=ClearSearch>
                        <i class="bi bi-x"></i>
                    </button>
                }
            </div>
            <div class="input-group">
                <select class="form-select" title="Sort by" @bind=SortBy>
                    <option selected disabled>Sort by</option>
                    <option value="Name">Name</option>
                    <option value="Modified">Modified</option>
                    <option value="Size">Size</option>
                </select>
                <div title="Direction" class="input-group-text pointer" @onclick=ToggleDirection>
                    @if (_sortDesc)
                    {
                        <i class="bi bi-sort-up"></i>
                    }
                    else
                    {
                        <i class="bi bi-sort-down"></i>
                    }
                </div>
            </div>
        </form>
        @if (CanWrite)
        {
            <label for=upload hidden=@(_creatingDir) class="list-group-item list-group-item-action p-0">
                <div class="pointer d-flex">
                    <i class="bi bi-file-earmark-arrow-up text-success p-2"></i>
                    <div class="py-2">Upload file(s)</div>
                </div>
            </label>

            <button hidden=@(_creatingDir) class="list-group-item list-group-item-action p-0" @onclick=OpenCreateDirectory>
                <div class="d-flex">
                    <i class="bi bi-folder-plus text-success p-2"></i>
                    <div class="py-2">Create directory</div>
                </div>
            </button>

            <form @onsubmit=CreateDirectory hidden=@(!_creatingDir)>
        <div class="input-group">
            <input @ref=_newDirRef type="text" class="form-control list-group-item" placeholder="New directory name"
                @bind=_newDirName @onblur=CloseCreateDirectory>
            <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-folder-plus"></i>
            </button>
        </div>
    </form>
        }
        <button type="button" class="list-group-item list-group-item-action border-top-0 p-2" disabled>Click item icon to
            select</button>
    </div>
}