.drop-zone {
    position: relative;
    padding: 20px;
    width: 100%;
    border: 2px dashed;
    border-radius: 7px;
}

.drop-zone.hover {
    border-style: solid;
}

::deep .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
}