<InputFile id="upload" class="d-none" OnChange="@OnChange" multiple />
@if (_cts == null)
{
    <label for="upload">
    <div class="btn btn-success">
        <i class="bi bi-file-earmark-arrow-up"></i>
        @Text
    </div>
</label>
}
else
{
    var percentage = _transferedBytes / _totalBytes * 100d;
    <div class="progress mt-2">
    <div class="progress-bar" style="width: @percentage%;">@percentage.ToString("0")%</div>
</div>
}