@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.MyFilesPattern)]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>📁 - datotekica</PageTitle>

@if (_unauthorized)
{
    @* TODO: change to unauthorized *@
    <RedirectTo Url=@C.Routes.MyFiles />
}
else if (_notFound)
{
    <RedirectTo Url=@C.Routes.MyFiles />
}
else if (_root == null)
{
    <h1>Loading...</h1>
}
else if (_current != null && _current.Exists)
{
    <div class="row my-4">
    <div class="col-md-9">
        <div class="list-group">
            <div class="list-group-item sticky-top">
                <Actions BasePath=@_current.FullName Selected=_selected OnSuccessFiles=AddUploadedFiles
                    OnSuccessDirectory=AddDirectory OnDeleted=EnumerateCurrentDirectory OnDeselect=StateHasChanged />
            </div>
            @if (_current.FullName != _root.FullName)
                {
                    <div class="list-group-item list-group-item-secondary d-flex align-items-center p-0">
                        <div class="flex-shrink-0 p-2"><i class="bi bi-arrow-left-circle-fill"></i></div>
                        <a class="flex-grow-1 py-2 text-decoration-none text-white" href=@_parentPath> .. </a>
                        <div class="text-right d-none d-sm-block"></div>
                    </div>
                }
                @foreach (var dir in _dirs)
                {
                    <div class="list-group-item list-group-item-action d-flex align-items-center p-0">
                        <div class="flex-shrink-0 p-2 pointer" title="Toggle selected" @onclick=@(()=>ToggleSelected(dir.Path, true))><i
                        class=@IsSelected(dir.Path, true)></i></div>
                        <a class="flex-grow-1 py-2 text-truncate text-decoration-none text-white" title=@dir.Name
                    href=@dir.Url>@dir.Name</a>
                        <div class="text-right d-none d-sm-block" title=@dir.Modified>@dir.ModifiedAgo</div>
                    </div>
                }
                @foreach (var file in _files)
                {
                    <div class="list-group-item list-group-item-action d-flex align-items-center p-0">
                        <div class="flex-shrink-0 p-2 pointer" title="Toggle selected" @onclick=@(()=>ToggleSelected(file.Path, false))><i
                        class=@IsSelected(file.Path, false)></i></div>
                        <div class="flex-grow-1 py-2 text-truncate text-decoration-none text-white pointer" title=@file.Name
                    @onclick=@(()=>DownloadFile(file.Path))>@file.Name</div>
                        <div class="text-right d-none d-sm-block" title=@file.Modified>@file.ModifiedAgo</div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
        </div>
    </div>
}