@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.MyFilesPageRoute)]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>📁 - datotekica</PageTitle>

@if (_root == null)
{
    <h1>Loading...</h1>
}
else if (_current != null && _current.Exists)
{
    if (_files.Any())
    {
        <h1>My Files</h1>
        <ul>
    @foreach (var file in _files)
            {
                <li>File <a href=@file.Url target="_blank">@file.Name</a></li>
            }
        </ul>
    }
}