@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.MyFilesPageRoute)]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>📁 - datotekica</PageTitle>

@if (_unauthorized)
{
    @* TODO: change to unauthorized *@
    <RedirectTo Url=@C.Routes.MyFiles />
}
else if (_notFound)
{
    <RedirectTo Url=@C.Routes.MyFiles />
}
else if (_root == null)
{
    <h1>Loading...</h1>
}
else if (_current != null && _current.Exists)
{
    <div class="row my-4">
    <div class="col-md-9">
        <div class="list-group">
            @if (_current.FullName != _root.FullName)
                {
                    <div class="list-group-item list-group-item-secondary d-flex gap-3 py-0  align-items-center">
                        <div class="me-md-3 flex-shrink-0"><i class="bi bi-arrow-left-circle-fill"></i></div>
                        <a class="flex-grow-1 py-3 text-decoration-none text-white" href=@_parentPath> .. </a>
                        <div class="text-right d-none d-sm-block"></div>
                    </div>
                }
                @foreach (var dir in _dirs)
                {
                    <div class="list-group-item list-group-item-action d-flex gap-3 py-0  align-items-center">
                        <div class="me-md-3 flex-shrink-0"><i class="bi bi-folder-fill"></i></div>
                        <a class="flex-grow-1 py-3 text-truncate text-decoration-none text-white" title=@dir.Name href=@dir.Url>@dir.Name</a>
                        <div class="text-right d-none d-sm-block">@dir.Modified</div>
                    </div>
                }
                @foreach (var file in _files)
                {
                    <div class="list-group-item list-group-item-action d-flex gap-3 py-0  align-items-center">
                        <div class="me-md-3 flex-shrink-0"><i class="bi bi-file-earmark"></i></div>
                        <a class="flex-grow-1 py-3 text-truncate text-decoration-none text-white" title=@file.Name href=@file.Url
                    target="_blank">@file.Name</a>
                        <div class="text-right d-none d-sm-block">@file.Modified</div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="position-sticky" style="top: 2rem;">
                Actions
            </div>
        </div>
    </div>
}